<%
let titleAction = (typeof editpost== "object")?"ویرایش پست":  "پست جدید";
%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#">پست ها <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                        <a href="#">اضافه کردن منو<span class="sr-only"></span></a>
                    </li>

                </ul>

            </div>
            <div class="col-sm-9 col-md-10 main">
                <h1 class="page-header">داشبورد</h1>


                <h3 class="my-3 page-header text-dark">پست های نوشته شده</h3>
                <div class="row placeholders">
                    <%db.forEach(val=>{%>
                        <a href="<%=url.admin.editPost + val.id%>#editform" class="col-xs-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                            <h4>
                                <%=val.title%>
                            </h4>
                            <span class="text-muted"><%=val.caption%></span>
                        </a>
                        <%})%>

                </div>


            </div>


            <div class="col-sm-9 col-md-10 main">
                <h3 class=" page-header text-dark">
                    <%=titleAction%>
                </h3>
                <%if (typeof editpost==="object" ){%>
                    <form id="editform" class="d-block add-post" action="/editpost">
                        <input class="input " type="text" name="title" value="<%=editpost.title%>" placeholder=" عنوان متن ">
                        <textarea name="caption" class="input " placeholder="کپشن " id=" " cols="30 " rows="10 " value="fd "><%=editpost.caption%></textarea>
                        <input type="submit" class="btn btn-primary inputbtn " value="ارسال ">
                        <a href="<%=url.admin.index%>#addpost" class="btn btn-info">پست جدید</a>

                    </form>
                    <%}else{%>
                        <form id="addpost" class="d-block add-post " action="addpost" method="post">
                            <input class="input " type="text " name="title" placeholder="عنوان متن ">
                            <textarea name="caption" class="input " placeholder="کپشن " id=" " cols="30 " rows="10 " value="fd "></textarea>
                            <input type="submit" class="btn btn-primary inputbtn " value="ارسال ">

                        </form>
                        <%}%>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js " integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ " crossorigin="anonymous "></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js "><\/script>')
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    </body>

    </html>